on fs
    chown system system /sys/bus/i2c/drivers/awinic_haptic/9-005a/activate
    chown system system /sys/bus/i2c/drivers/awinic_haptic/9-005a/activate_mode
    chown system system /sys/bus/i2c/drivers/awinic_haptic/9-005a/duration
    chown system system /sys/bus/i2c/drivers/awinic_haptic/9-005a/effect_id
    chown system system /sys/bus/i2c/drivers/awinic_haptic/9-005a/index

service vendor.vibrator-everpal /vendor/bin/hw/android.hardware.vibrator-service.everpal
    class hal
    user nobody
    group nobody
    user system
    group system input
